{
  "openapi": "3.0.3",
  "info": {
    "title": "Cencori Embedded Agents",
    "version": "1.1.0",
    "description": "The typed public contract for Cencori Embedded Agents: models, providers, tenants, versioned agents, installations, sessions, runs, knowledge, tools, approvals, webhooks, and attributed usage.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://cencori.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Project secret (csk_*) for server ops; short-lived client token (ect_*) for browser execution."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "invalid_request_error"
              },
              "code": {
                "type": "string",
                "example": "invalid_request"
              },
              "message": {
                "type": "string"
              },
              "request_id": {
                "type": "string",
                "nullable": true
              },
              "param": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "type",
              "code",
              "message"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "failed"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "DeletedResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Tenant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ten_abc"
          },
          "external_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended",
              "deleting",
              "deleted"
            ]
          },
          "region": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "name",
          "status",
          "metadata",
          "created_at",
          "updated_at"
        ]
      },
      "TenantList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tenant"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "TenantUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "display_name": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "tenant_id",
          "external_id",
          "status",
          "roles",
          "groups",
          "metadata"
        ]
      },
      "TenantUserList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TenantUser"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "TenantExport": {
        "type": "object",
        "properties": {
          "tenant": {
            "$ref": "#/components/schemas/Tenant"
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TenantUser"
            }
          },
          "exported_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "tenant",
          "users",
          "exported_at"
        ]
      },
      "ClientToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "example": "ect_..."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "token",
          "expires_at"
        ]
      },
      "UnifiedModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "model"
            ]
          },
          "created": {
            "type": "integer"
          },
          "owned_by": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "context_window": {
            "type": "integer"
          },
          "provider": {
            "type": "string"
          },
          "source": {
            "type": "string",
            "enum": [
              "cencori",
              "byok",
              "custom"
            ]
          },
          "connection_id": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "available": {
            "type": "boolean"
          },
          "unavailable_reason": {
            "type": "string",
            "nullable": true
          },
          "pricing_status": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "object",
          "name",
          "provider",
          "source",
          "status",
          "available"
        ]
      },
      "ModelList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UnifiedModel"
            }
          },
          "providers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          }
        },
        "required": [
          "object",
          "data",
          "providers"
        ]
      },
      "ProviderConnection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "api_format": {
            "type": "string"
          },
          "base_url": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "last_tested_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "provider",
          "status"
        ]
      },
      "ProviderConnectionList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderConnection"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "ProviderValidation": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "provider": {
            "type": "string"
          },
          "api_format": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "models_discovered": {
            "type": "integer"
          }
        },
        "required": [
          "valid"
        ]
      },
      "ModelSync": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "connection_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "counts": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "changes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "connection_id",
          "status"
        ]
      },
      "AgentConfig": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "nullable": true
          },
          "system_prompt": {
            "type": "string",
            "nullable": true
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "temperature": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "agt_abc"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "is_active": {
            "type": "boolean"
          },
          "shadow_mode": {
            "type": "boolean"
          },
          "config": {
            "$ref": "#/components/schemas/AgentConfig"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "is_active",
          "shadow_mode",
          "config",
          "created_at"
        ]
      },
      "AgentList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Agent"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "AgentKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "full_key": {
            "type": "string",
            "description": "Returned only once when the key is created."
          },
          "environment": {
            "type": "string"
          },
          "key_type": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "key_prefix",
          "environment",
          "key_type",
          "agent_id",
          "created_at"
        ]
      },
      "AgentVersion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "ready_for_review",
              "published",
              "deprecated",
              "retired"
            ]
          },
          "config": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "requirements": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "visibility": {
            "type": "string"
          },
          "validation": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "test_result": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "published_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "agent_id",
          "version",
          "status",
          "config"
        ]
      },
      "AgentVersionList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentVersion"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "AgentVersionValidation": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          },
          "version": {
            "$ref": "#/components/schemas/AgentVersion"
          }
        },
        "required": [
          "valid",
          "status"
        ]
      },
      "AgentVersionTest": {
        "type": "object",
        "properties": {
          "passed": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "output": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "readiness": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "version": {
            "$ref": "#/components/schemas/AgentVersion"
          }
        },
        "required": [
          "passed",
          "status"
        ]
      },
      "Installation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ins_abc"
          },
          "tenant_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "agent_version_id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "update_channel": {
            "type": "string"
          },
          "knowledge_base_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "connection_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "approval_policy": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "overlay_config": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "tenant_id",
          "agent_id",
          "status"
        ]
      },
      "InstallationList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Installation"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "RunOutput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "result"
          },
          "output": {},
          "model": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "agent_version_id": {
            "type": "string",
            "nullable": true
          },
          "agent_version": {
            "type": "string",
            "nullable": true
          },
          "knowledge_citations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          },
          "skills_used": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "manifest_tools": {
            "type": "array",
            "items": {}
          },
          "manifest_policy": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "usage": {
            "type": "object",
            "properties": {
              "promptTokens": {
                "type": "integer"
              },
              "completionTokens": {
                "type": "integer"
              },
              "totalTokens": {
                "type": "integer"
              },
              "cacheReadTokens": {
                "type": "integer"
              }
            },
            "required": [
              "promptTokens",
              "completionTokens",
              "totalTokens"
            ]
          },
          "cost": {
            "type": "object",
            "properties": {
              "providerCostUsd": {
                "type": "number"
              },
              "cencoriChargeUsd": {
                "type": "number"
              },
              "markupPercentage": {
                "type": "number"
              }
            },
            "required": [
              "providerCostUsd",
              "cencoriChargeUsd",
              "markupPercentage"
            ]
          }
        },
        "required": [
          "type",
          "output",
          "model",
          "provider",
          "usage",
          "cost"
        ]
      },
      "Run": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "run_abc"
          },
          "agent_id": {
            "type": "string"
          },
          "agent_version_id": {
            "type": "string",
            "nullable": true
          },
          "installation_id": {
            "type": "string",
            "nullable": true
          },
          "tenant_id": {
            "type": "string",
            "nullable": true
          },
          "external_user_id": {
            "type": "string",
            "nullable": true
          },
          "session_id": {
            "type": "string",
            "nullable": true
          },
          "parent_run_id": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "requires_action",
              "completed",
              "failed",
              "cancelled",
              "expired"
            ]
          },
          "input": {},
          "output": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RunOutput"
              }
            ],
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "citations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "agent_id",
          "status"
        ]
      },
      "RunEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "sequence": {
            "type": "integer"
          },
          "event_type": {
            "type": "string"
          },
          "payload": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "run_id",
          "sequence",
          "event_type",
          "payload",
          "created_at"
        ]
      },
      "RunEventList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunEvent"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "Action": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "act_abc"
          },
          "project_id": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string",
            "nullable": true
          },
          "run_id": {
            "type": "string",
            "nullable": true
          },
          "session_id": {
            "type": "string",
            "nullable": true
          },
          "tool": {
            "type": "string"
          },
          "arguments": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "rejected",
              "executing",
              "completed",
              "failed",
              "expired"
            ]
          },
          "result": {
            "type": "object",
            "properties": {},
            "additionalProperties": true,
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "tool",
          "arguments",
          "status",
          "created_at"
        ]
      },
      "Connector": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "auth_type": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "required": [
          "id",
          "name",
          "auth_type"
        ]
      },
      "ConnectorList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Connector"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "Connection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "connector": {
            "type": "string"
          },
          "owner_type": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string",
            "nullable": true
          },
          "external_user_id": {
            "type": "string",
            "nullable": true
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "expires_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "connector",
          "owner_type",
          "status"
        ]
      },
      "ConnectionList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Connection"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "OAuthAuthorization": {
        "type": "object",
        "properties": {
          "authorize_url": {
            "type": "string",
            "format": "uri"
          },
          "state": {
            "type": "string"
          }
        },
        "required": [
          "authorize_url",
          "state"
        ]
      },
      "ConnectionTest": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "has_credential": {
            "type": "boolean"
          },
          "expired": {
            "type": "boolean"
          },
          "expires_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          }
        },
        "required": [
          "success",
          "has_credential",
          "expired"
        ]
      },
      "KnowledgeBase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string",
            "nullable": true
          },
          "scope_type": {
            "type": "string"
          },
          "region": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "retention_policy": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "source_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "scope_type",
          "status"
        ]
      },
      "KnowledgeBaseList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KnowledgeBase"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "KnowledgeSource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "knowledge_base_id": {
            "type": "string"
          },
          "source_type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "checksum": {
            "type": "string",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "knowledge_base_id",
          "source_type",
          "status"
        ]
      },
      "KnowledgeSourceList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KnowledgeSource"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "KnowledgeGrant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "knowledge_base_id": {
            "type": "string"
          },
          "subject_type": {
            "type": "string"
          },
          "subject_id": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "knowledge_base_id",
          "subject_type",
          "subject_id",
          "permissions"
        ]
      },
      "KnowledgeGrantList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KnowledgeGrant"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "KnowledgeSearchResult": {
        "type": "object",
        "properties": {
          "chunk_id": {
            "type": "string"
          },
          "source_id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "required": [
          "chunk_id",
          "source_id",
          "text",
          "score"
        ]
      },
      "KnowledgeSearchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KnowledgeSearchResult"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "Skill": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "visibility": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "visibility",
          "status"
        ]
      },
      "SkillList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Skill"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "SkillVersion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "skill_id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          },
          "scan": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "published_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "skill_id",
          "version",
          "status"
        ]
      },
      "SkillVersionList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SkillVersion"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "SkillImport": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "source_type": {
            "type": "string"
          },
          "source": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          },
          "findings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "status",
          "source_type",
          "findings"
        ]
      },
      "McpServer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "transport": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string",
            "nullable": true
          },
          "auth_connection_id": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "url",
          "transport",
          "status"
        ]
      },
      "McpServerList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/McpServer"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "McpTool": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "input_schema": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "annotations": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "required": [
          "name",
          "input_schema"
        ]
      },
      "McpToolList": {
        "type": "object",
        "properties": {
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/McpTool"
            }
          }
        },
        "required": [
          "tools"
        ]
      },
      "McpDiscoveryResult": {
        "type": "object",
        "properties": {
          "server": {
            "$ref": "#/components/schemas/McpServer"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/McpTool"
            }
          },
          "added": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "removed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "changed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "server",
          "tools"
        ]
      },
      "McpTest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "transport": {
            "type": "string"
          },
          "tool_count": {
            "type": "integer"
          },
          "latency_ms": {
            "type": "number"
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "success",
          "latency_ms"
        ]
      },
      "ProviderTest": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "reachable": {
            "type": "boolean",
            "nullable": true
          },
          "authenticated": {
            "type": "boolean"
          },
          "latency_ms": {
            "type": "number"
          },
          "discovery_supported": {
            "type": "boolean"
          },
          "model_count": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "integer"
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "success",
          "authenticated",
          "latency_ms"
        ]
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "display_name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "rate_plan_id": {
            "type": "string",
            "nullable": true
          },
          "is_blocked": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "external_id",
          "is_blocked",
          "metadata"
        ]
      },
      "EndUserList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EndUser"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "RatePlan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "markup_percentage": {
            "type": "number"
          },
          "flat_rate": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "currency"
        ]
      },
      "RatePlanList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RatePlan"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "completed",
              "failed"
            ]
          },
          "turn_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "agent_id": {
            "type": "string",
            "nullable": true
          },
          "tenant_id": {
            "type": "string",
            "nullable": true
          },
          "external_user_id": {
            "type": "string",
            "nullable": true
          },
          "installation_id": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "total_cost": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "status",
          "turn_count",
          "created_at",
          "updated_at",
          "agent_id",
          "tenant_id",
          "external_user_id",
          "installation_id",
          "metadata",
          "total_cost"
        ]
      },
      "SessionList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "total_pages": {
                "type": "integer"
              }
            },
            "required": [
              "page",
              "limit",
              "total",
              "total_pages"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "SessionEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "turn_number": {
            "type": "integer"
          },
          "sequence": {
            "type": "integer"
          },
          "event_type": {
            "type": "string"
          },
          "payload": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "session_id",
          "turn_number",
          "sequence",
          "event_type",
          "payload",
          "created_at"
        ]
      },
      "SessionEventList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionEvent"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "total_pages": {
                "type": "integer"
              }
            },
            "required": [
              "page",
              "limit",
              "total",
              "total_pages"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "SessionResolution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "action_id": {
            "type": "string"
          },
          "resolution": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "action_id",
          "resolution",
          "status"
        ]
      },
      "UsageSummary": {
        "type": "object",
        "properties": {
          "totals": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          }
        },
        "required": [
          "totals",
          "groups"
        ]
      },
      "UsageEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string",
            "nullable": true
          },
          "external_user_id": {
            "type": "string",
            "nullable": true
          },
          "agent_id": {
            "type": "string",
            "nullable": true
          },
          "installation_id": {
            "type": "string",
            "nullable": true
          },
          "session_id": {
            "type": "string",
            "nullable": true
          },
          "run_id": {
            "type": "string",
            "nullable": true
          },
          "model": {
            "type": "string",
            "nullable": true
          },
          "provider": {
            "type": "string",
            "nullable": true
          },
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "cost_usd": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "project_id",
          "created_at"
        ]
      },
      "UsageEventList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageEvent"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "UsageExport": {
        "type": "object",
        "properties": {
          "generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "totals": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageEvent"
            }
          }
        },
        "required": [
          "generated_at",
          "rows"
        ]
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "url",
          "events",
          "is_active"
        ]
      },
      "WebhookList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "webhook_id": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "response_status": {
            "type": "integer"
          },
          "attempts": {
            "type": "integer"
          },
          "next_attempt_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "webhook_id",
          "event",
          "status",
          "attempts"
        ]
      },
      "WebhookDeliveryList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookDelivery"
            }
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "data",
          "next_cursor"
        ]
      },
      "CreateTenantRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "required": [
          "external_id",
          "name"
        ],
        "additionalProperties": false
      },
      "UpdateTenantRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "region": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "status": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "UpsertTenantUserRequest": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "PatchTenantUserRequest": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "status": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "MintClientTokenRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {
            "type": "string"
          },
          "external_user_id": {
            "type": "string"
          },
          "installation_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "expires_in": {
            "type": "integer",
            "minimum": 1,
            "maximum": 900
          },
          "session_id": {
            "type": "string"
          }
        },
        "required": [
          "tenant_id",
          "external_user_id"
        ],
        "additionalProperties": false
      },
      "CreateProviderConnectionRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "api_format": {
            "type": "string"
          },
          "base_url": {
            "type": "string",
            "format": "uri"
          },
          "api_key": {
            "type": "string",
            "format": "password",
            "writeOnly": true
          }
        },
        "required": [
          "name",
          "provider"
        ],
        "additionalProperties": false
      },
      "UpdateProviderConnectionRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "api_key": {
            "type": "string",
            "format": "password",
            "writeOnly": true
          },
          "status": {
            "type": "string"
          },
          "base_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": false
      },
      "ValidateProviderConnectionRequest": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string"
          },
          "base_url": {
            "type": "string",
            "format": "uri"
          },
          "api_key": {
            "type": "string",
            "format": "password",
            "writeOnly": true
          },
          "api_format": {
            "type": "string"
          }
        },
        "required": [
          "provider"
        ],
        "additionalProperties": false
      },
      "CreateAgentRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/AgentConfig"
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false
      },
      "UpdateAgentRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "shadow_mode": {
            "type": "boolean"
          },
          "config": {
            "$ref": "#/components/schemas/AgentConfig"
          }
        },
        "additionalProperties": false
      },
      "CreateAgentKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "environment": {
            "type": "string",
            "enum": [
              "production",
              "test"
            ]
          },
          "key_type": {
            "type": "string",
            "enum": [
              "secret",
              "publishable"
            ]
          },
          "allowed_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "CreateAgentVersionRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "requirements": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "visibility": {
            "type": "string"
          }
        },
        "required": [
          "version"
        ],
        "additionalProperties": false
      },
      "ReviewAgentVersionRequest": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "approve",
              "reject"
            ]
          },
          "reviewed_by": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "visibility": {
            "type": "string"
          }
        },
        "required": [
          "decision"
        ],
        "additionalProperties": false
      },
      "TestAgentVersionRequest": {
        "type": "object",
        "properties": {
          "input": {
            "type": "string",
            "maxLength": 2000
          },
          "test_connection_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "CreateInstallationRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "update_channel": {
            "type": "string"
          },
          "knowledge_base_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "connection_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "approval_policy": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "required": [
          "tenant_id",
          "agent_id"
        ],
        "additionalProperties": false
      },
      "UpdateInstallationRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          },
          "update_channel": {
            "type": "string"
          },
          "knowledge_base_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "connection_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "approval_policy": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "overlay_config": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "status": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "UpgradeInstallationRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CreateRunRequest": {
        "type": "object",
        "properties": {
          "installation_id": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string"
          },
          "external_user_id": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": [
              "background",
              "sync",
              "streaming"
            ]
          },
          "input": {
            "description": "Any JSON value, at most 64 KiB when serialized as UTF-8."
          },
          "response_format": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "json_schema"
                ]
              },
              "json_schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "strict": {
                    "type": "boolean"
                  },
                  "schema": {
                    "type": "object",
                    "properties": {},
                    "additionalProperties": true
                  }
                },
                "required": [
                  "schema"
                ]
              }
            },
            "required": [
              "type",
              "json_schema"
            ]
          },
          "session_id": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "DelegateRunRequest": {
        "type": "object",
        "properties": {
          "agent_version_id": {
            "type": "string"
          },
          "input": {},
          "installation_id": {
            "type": "string"
          }
        },
        "required": [
          "agent_version_id"
        ],
        "additionalProperties": false
      },
      "CreateActionRequest": {
        "type": "object",
        "properties": {
          "tool": {
            "type": "string"
          },
          "arguments": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "run_id": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string"
          },
          "approval_policy": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "required": [
          "tool"
        ],
        "additionalProperties": false
      },
      "ApproveActionRequest": {
        "type": "object",
        "properties": {
          "approved_by": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "RejectActionRequest": {
        "type": "object",
        "properties": {
          "rejected_by": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CreateKnowledgeBaseRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string"
          },
          "scope_type": {
            "type": "string"
          },
          "region": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false
      },
      "UpdateKnowledgeBaseRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "retention_policy": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "CreateKnowledgeSourceRequest": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "file_url": {
            "type": "string",
            "format": "uri"
          },
          "source_type": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "SyncKnowledgeSourceRequest": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "CreateKnowledgeGrantRequest": {
        "type": "object",
        "properties": {
          "subject_type": {
            "type": "string"
          },
          "subject_id": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "subject_type",
          "subject_id"
        ],
        "additionalProperties": false
      },
      "SearchKnowledgeRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "top_k": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "installation_id": {
            "type": "string"
          }
        },
        "required": [
          "query"
        ],
        "additionalProperties": false
      },
      "CreateSkillRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "visibility": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false
      },
      "UpdateSkillRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "visibility": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CreateSkillVersionRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "version"
        ],
        "additionalProperties": false
      },
      "PublishSkillVersionRequest": {
        "type": "object",
        "properties": {
          "reviewed_by": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CreateSkillImportRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "repository": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              }
            }
          },
          "tenant_id": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "minProperties": 1
      },
      "PublishSkillImportRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "skill_id": {
            "type": "string"
          },
          "visibility": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "reviewed_by": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CreateConnectionRequest": {
        "type": "object",
        "properties": {
          "connector": {
            "type": "string"
          },
          "owner_type": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string"
          },
          "external_user_id": {
            "type": "string"
          },
          "api_key": {
            "type": "string",
            "format": "password",
            "writeOnly": true
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "connector"
        ],
        "additionalProperties": false
      },
      "UpdateConnectionRequest": {
        "type": "object",
        "properties": {
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "AuthorizeConnectionRequest": {
        "type": "object",
        "properties": {
          "redirect_uri": {
            "type": "string",
            "format": "uri"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "CreateMcpServerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "transport": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string"
          },
          "auth_connection_id": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "url"
        ],
        "additionalProperties": false
      },
      "UpdateMcpServerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "string"
          },
          "auth_connection_id": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpsertEndUserRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "rate_plan_id": {
            "type": "string",
            "nullable": true
          },
          "is_blocked": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "required": [
          "external_id"
        ],
        "additionalProperties": false
      },
      "CreateRatePlanRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "markup_percentage": {
            "type": "number"
          },
          "flat_rate": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false
      },
      "CreateSessionRequest": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string"
          },
          "external_user_id": {
            "type": "string"
          },
          "installation_id": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "SessionTurnRequest": {
        "type": "object",
        "properties": {
          "input": {},
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          },
          "instructions": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "temperature": {
            "type": "number"
          },
          "max_output_tokens": {
            "type": "integer"
          },
          "top_p": {
            "type": "number"
          },
          "tool_choice": {},
          "response_format": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "store": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "user": {
            "type": "string"
          },
          "stream": {
            "type": "boolean"
          },
          "parallel_tool_calls": {
            "type": "boolean"
          },
          "truncation": {
            "type": "string",
            "enum": [
              "auto",
              "disabled"
            ]
          },
          "pause_on_tool_calls": {
            "type": "boolean"
          },
          "memory": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "required": [
          "input"
        ],
        "additionalProperties": false
      },
      "SessionResolutionRequest": {
        "type": "object",
        "properties": {
          "action_id": {
            "type": "string"
          },
          "tool_results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "action_id": {
                  "type": "string"
                },
                "output": {
                  "type": "string"
                }
              },
              "required": [
                "action_id",
                "output"
              ]
            }
          }
        },
        "required": [
          "action_id"
        ],
        "additionalProperties": false
      },
      "CreateWebhookRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "name",
          "url"
        ],
        "additionalProperties": false
      },
      "UpdateWebhookRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_active": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Caller-generated key used to safely retry this write within the authenticated project.",
        "schema": {
          "type": "string",
          "maxLength": 255
        }
      },
      "AgentId": {
        "name": "agentId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Version": {
        "name": "version",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "InstallationId": {
        "name": "installationId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "RunId": {
        "name": "runId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ActionId": {
        "name": "actionId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ConnectionId": {
        "name": "connectionId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ConnectorId": {
        "name": "connectorId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "KnowledgeBaseId": {
        "name": "knowledgeBaseId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SourceId": {
        "name": "sourceId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "GrantId": {
        "name": "grantId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ServerId": {
        "name": "serverId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SyncId": {
        "name": "syncId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SessionId": {
        "name": "sessionId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SkillId": {
        "name": "skillId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ImportId": {
        "name": "importId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "TenantId": {
        "name": "tenantId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ExternalUserId": {
        "name": "externalUserId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "DeliveryId": {
        "name": "deliveryId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "WebhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "The request failed. Inspect error.code for a stable machine-readable reason.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/actions": {
      "post": {
        "summary": "Create approval-gated action",
        "responses": {
          "201": {
            "description": "Action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Action"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "postActions",
        "tags": [
          "Actions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateActionRequest"
              }
            }
          }
        }
      }
    },
    "/v1/actions/{actionId}": {
      "get": {
        "summary": "Get action (sanitized)",
        "responses": {
          "200": {
            "description": "Action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Action"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getActionsByActionId",
        "tags": [
          "Actions"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ActionId"
        }
      ]
    },
    "/v1/actions/{actionId}/approve": {
      "post": {
        "summary": "Approve (idempotent, executes once)",
        "responses": {
          "200": {
            "description": "Approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Action"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "postActionsByActionIdApprove",
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveActionRequest"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ActionId"
        }
      ]
    },
    "/v1/actions/{actionId}/reject": {
      "post": {
        "summary": "Reject (idempotent)",
        "responses": {
          "200": {
            "description": "Rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Action"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "postActionsByActionIdReject",
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectActionRequest"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ActionId"
        }
      ]
    },
    "/v1/agent-catalog": {
      "get": {
        "summary": "Published catalog (default public + unlisted)",
        "responses": {
          "200": {
            "description": "Catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentVersionList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getAgentCatalog",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "visibility",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/agent-installations": {
      "get": {
        "summary": "List installations",
        "responses": {
          "200": {
            "description": "List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "getAgentInstallations",
        "tags": [
          "Installations"
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "Install agent for tenant",
        "responses": {
          "201": {
            "description": "Installation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Installation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "postAgentInstallations",
        "tags": [
          "Installations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInstallationRequest"
              }
            }
          }
        }
      }
    },
    "/v1/agent-installations/{installationId}": {
      "get": {
        "summary": "Get installation",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Installation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Requires a secret project key (`secret_key_required` otherwise).",
        "operationId": "getAgentInstallationsByInstallationId",
        "tags": [
          "Installations"
        ]
      },
      "patch": {
        "summary": "Update installation overlays/policy",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Installation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Requires a secret project key (`secret_key_required` otherwise).",
        "operationId": "patchAgentInstallationsByInstallationId",
        "tags": [
          "Installations"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInstallationRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Disable installation",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Requires a secret project key (`secret_key_required` otherwise).",
        "operationId": "deleteAgentInstallationsByInstallationId",
        "tags": [
          "Installations"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/InstallationId"
        }
      ]
    },
    "/v1/agent-installations/{installationId}/rollback": {
      "post": {
        "summary": "Roll back installation version",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Installation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Requires a secret project key (`secret_key_required` otherwise).",
        "operationId": "postAgentInstallationsByInstallationIdRollback",
        "tags": [
          "Installations"
        ],
        "x-cencori-empty-body": true
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/InstallationId"
        }
      ]
    },
    "/v1/agent-installations/{installationId}/upgrade": {
      "post": {
        "summary": "Upgrade installation version",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Installation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Requires a secret project key (`secret_key_required` otherwise).",
        "operationId": "postAgentInstallationsByInstallationIdUpgrade",
        "tags": [
          "Installations"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpgradeInstallationRequest"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/InstallationId"
        }
      ]
    },
    "/v1/agents": {
      "get": {
        "summary": "List gateway agents",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Secret project key or dashboard session (project members).",
        "operationId": "getAgents",
        "tags": [
          "Agents"
        ]
      },
      "post": {
        "summary": "Create gateway agent",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
[...]
